.App {
  /* max-width: 365px; */
}

.carousel {
  height: 0;
  padding-bottom: 50%;
}

.active.active-bg {
  background: #2196f3 !important;
}

.active.active-bg>a {
  color: white !important;
}

.page-title {
  border-color: #2196f3;
}

.card-title {
  font-size: 1rem !important;
}

.navbar-fixed {
  z-index: 1009 !important;
  opacity: .95;
}